body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

input, select, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}
